[submodule "yii"]
	path = yii
	url = https://github.com/yiisoft/yii.git
[submodule "protected/extensions/worker"]
	path = protected/extensions/worker
	url = https://github.com/mitallast/yii-gearman.git
[submodule "protected/components/vkapi"]
	path = protected/components/vkapi
	url = https://github.com/LEMing/PHP_CLASS_FOR_VKAPI.git
[submodule "protected/extensions/selectorwidget"]
	path = protected/extensions/selectorwidget
	url = git://github.com/wapmorgan/yii-selectorwidget.git
